<div class="container d-flex justify-content-center align-items-center p-5">
  <div class="container ">
    <img src="/images/logos/logo2.png" alt="">
  </div>
  <div class="container">
    <h5 class="text-muted">Welcome to the <span class="text-danger fs-2 fw-bold"> Power House</span></h5>
  </div>
</div>
<hr>

<p class="mt-4">Welcome to Power House, your ultimate destination for quality, innovation, and unbeatable value. We’re more than just an ecommerce store — we’re a brand built on the belief that power begins with choice.</p>

<p class="">At Power House, we bring you a curated collection of products designed to empower your lifestyle — whether it’s through cutting-edge technology, everyday essentials, or trendsetting designs. Our mission is simple: to deliver powerful products that make a real difference in your life.</p>


<p class="text-muted text-center mt-5">© 2025 PowerHouse. All rights reserved. Developed by Sajin CL</p>