<div class="container bg-light shadow p-3 text-center ">
  <table class="table table-bordered align-middle mt-4 bg-light ">
    <caption class="caption-top p-2 mb-5">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="m-0">Users List</h5>
        
      </div>
    </caption>
    <thead>
     
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>View order</th>
        <th>Action</th>
      </tr>
     
    </thead>
    <tbody>
       {{#each userData}}
      <tr>
        <td>{{this.userName}}</td>
        <td>{{this.email}}</td>
        <td><a class="btn btn-success px-3 py-0 me-2 fs-6" href="/admin/viewOrders/{{this._id}}"><small>view</small></a></td>
        <td class="text-center">
          <a class="btn btn-danger px-2 py-0" href="/admin/users/delete/{{this._id}}"><small>Delete</small></a>
        </td>
      </tr>
       {{/each}}
    </tbody>
  </table>
</div>