{{#if homeActive}}
<footer>
  <div class="d-flex justify-content-center align-items-center">
    <h6 class="me-3">For better experience,download the Power House app now</h6>
    <span class="me-3"><img src="/images/logos/App-Store-icon.png" style="width: 100px;" alt=""></span>
    <span class="me-3"><img src="/images/logos/playstore-icon.png" alt="" style="width: 100px;"></span>
  </div>
  <div class="footer-body d-flex justify-content-between align-items-center ">
    <div class="footer-left-sec">
      <img src="/images/logos/logo2.png" alt="">
    </div>
    <div class="footer-right-sec d-flex justify-content-between">
      <li class="me-3 fw-bold">Home</li>
      <li class="me-3 fw-bold">Cart</li>
      <li class="me-3 fw-bold">Order</li>
      <li class="me-3 fw-bold">Register</li>
      <li class="me-3 fw-bold">Login</li>
      <li class="me-3 fw-bold">Contact us</li>
      <li class="me-3 fw-bold">Shipping</li>
      <li class="me-3 fw-bold">FAQ</li>
      <li class="me-3 fw-bold">Help</li>
      <li class="me-3 fw-bold">Customer policy</li>
    </div>
   <div class="social-media" style="text-align: center; margin-top: 10px;">
  <a href="#" style="margin-right: 10px; color:blue;"><i class="fa fa-facebook"></i></a>
  <a href="#" style="margin-right: 10px; color:skyblue;"><i class="fa fa-twitter"></i></a>
  <a href="#" style="margin-right: 10px; color:pink;"><i class="fa fa-instagram"></i></a>
  <a href="#" style="color:#0e76a8;"><i class="fa fa-linkedin"></i></a>
</div>

  </div>
  <div class="text-center mt-3">
    <small>&copy; 2025 PowerHouse. All rights reserved. Developed by Sajin CL</small>
  </div>
</footer>
{{/if}}