<div class="bg-light d-flex justify-content-center align-items-center vh-100 text-center text-dark">
  <div>
    <h1 class="display-1 fw-bold">404!</h1>
    <h2 class="mb-4">Oops! Page not found…!</h2>
    <a href="/admin" class="btn btn-danger btn-lg px-4 py-1">Back to Admin</a>
    <a href="/user" class="btn btn-outline-warning btn-lg px-5 py-1">Back to User</a>
  </div>
</div>