<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-4 rounded-4">
        <h3 class="text-center mb-4">Login</h3>
        <form action="" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
          </div>
          <div class="d-grid mt-3 mb-2">
            <button type="submit" class="btn btn-lg submit-btn text-light" style="background-color: #4c00b0;">Login</button>
          </div>
          <a href="#" class="text-decoration-none d-flex justify-content-center mb-3 ">Forgetten password?</a>
        </form>
          <div class="d-grid mt-3 mb-2 px-5 justify-content-center">
            <a href="/user/register" class="btn btn-xs submit-btn text-light btn-success" style="width: 250px;">Create new account</a>
          </div>
      </div>
    </div>
  </div>
</div>
