<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-4 rounded-4">
        <h3 class="text-center mb-4">Register</h3>
        <form action="" method="post" enctype="">
          <div class="mb-3">
            <label for="username" class="form-label">Name</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="Enter your name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
          </div>
          <a href="/user/login" class="text-decoration-none d-flex justify-content-center">already have a account?</a>
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-lg submit-btn text-light" style="background-color: #4c00b0;">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
